In [2]:
import openpyxl

In [3]:
import pandas as pd
import pymongo

In [4]:
!{sys.executable} -m pip install pymongo

'{sys.executable}' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
!py -3.12 -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\arrkr\appdata\local\programs\python\python312\lib\site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\arrkr\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.8.0)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: C:\Users\arrkr\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [6]:
!python -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\arrkr\appdata\roaming\python\python310\site-packages (25.2)

In [7]:
import sys

!{sys.executable} -m pip install --upgrade pip setuptools wheel


!{sys.executable} -m pip install pymongo

Requirement already satisfied: pip in c:\users\arrkr\appdata\local\programs\python\python313\lib\site-packages (25.2)
Requirement already satisfied: setuptools in c:\users\arrkr\appdata\local\programs\python\python313\lib\site-packages (80.9.0)
Requirement already satisfied: wheel in c:\users\arrkr\appdata\local\programs\python\python313\lib\site-packages (0.45.1)
Requirement already satisfied: pymongo in c:\users\arrkr\appdata\local\programs\python\python313\lib\site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\arrkr\appdata\local\programs\python\python313\lib\site-packages (from pymongo) (2.8.0)

In [8]:
import pymongo

In [9]:
excel_path = r"C:\Users\arrkr\OneDrive\Desktop\ai &ml projects\E Commerce Dataset 33.xlsx"
df = pd.read_excel(excel_path, sheet_name="E Comm") 
df.head(7)

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
5,50006,1,0.0,Computer,1,22.0,Debit Card,Female,3.0,5,Mobile Phone,5,Single,2,1,22.0,4.0,6.0,7.0,139.19
6,50007,1,NaN,Phone,3,11.0,Cash on Delivery,Male,2.0,3,Laptop & Accessory,2,Divorced,4,0,14.0,0.0,1.0,0.0,120.86

In [10]:
data = df.to_dict(orient = 'records')

In [15]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://Arrk:MongoDB2024Secure%21@cluster0.4aqixve.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [16]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [17]:
rec = collection.insert_many(data)

In [18]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>

In [19]:
df = pd.DataFrame(list(collection.find()))
df.head(3)

,_id,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,...,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,68ea5ea974c04abe29876bf9,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,...,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,68ea5ea974c04abe29876bfa,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,...,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,68ea5ea974c04abe29876bfb,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,...,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28

In [21]:
df.columns

Index(['_id', 'CustomerID', 'Churn', 'Tenure', 'PreferredLoginDevice',
       'CityTier', 'WarehouseToHome', 'PreferredPaymentMode', 'Gender',
       'HourSpendOnApp', 'NumberOfDeviceRegistered', 'PreferedOrderCat',
       'SatisfactionScore', 'MaritalStatus', 'NumberOfAddress', 'Complain',
       'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount',
       'DaySinceLastOrder', 'CashbackAmount'],
      dtype='object')